
@font-face {
    font-family: Shabnam;
    src: url('Shabnam.eot');
    src: url('Shabnam.eot?#iefix') format('embedded-opentype'),
    url('Shabnam.woff') format('woff'),
    url('Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: aviny;
    src: url('AVINY.TTF');
    font-weight: normal;
}
