@mixin flex($direction,$wrap,$align,$justify){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  // row | row-reverse | column | column-reverse
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;

  // nowrap | wrap | wrap-reverse
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;

  // flex-start | flex-end | center | baseline | stretch
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  -ms-flex-align: $align;
  align-items: $align;
  // flex-start | flex-end | center | space-between | space-around
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}
@mixin transition{
  -webkit-transition:all .3s,width .3s,opacity 0s,border .1s,margin 0s,background .3s;
  -moz-transition: all .3s,width .3s,opacity 0s,border .1s,margin 0s,background .3s;
  -ms-transition:all .3s,width .3s,opacity 0s,border .1s,margin 0s,background .3s;
  -o-transition: all .3s,width .3s,opacity 0s,border .1s,margin 0s,background .3s;
  transition: all .3s,width .3s,opacity 0s,border .1s,margin 0s,background .3s;

}
@mixin transform($degree){
  -moz-transform: rotate($degree);
  -ms-transform: rotate($degree);
  -o-transform: rotate($degree);
  -webkit-transform: rotate($degree);
  transform: rotate($degree);
}
@mixin media-max($break-large){
  @media screen and (max-width: $break-large) {
    @content
  }
}
@mixin media-min($break-large){
  @media screen and (min-width: $break-large) {
    @content
  }
}



@mixin font-source-sans($size: false, $colour: false, $weight: false,  $lh: false) {
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}
@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
/*
input,
textarea {
  @include input-placeholder {
    color: $grey;
  }
}
*/
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity = $opacity-ie); //IE8
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}
@mixin gradient( $orientation,$start-color, $end-color) {
  background: $start-color;
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}
@mixin radius($border-radius){
  -webkit-border-radius:$border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}
@mixin box-shadow($value) {
    -webkit-box-shadow:$value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}