$S : 576px;
$M : 768px;
$L : 992px;
$X : 1200px;

$small-font :1rem;
$big-font :2rem;
$color-violet :#8b2980;
$color-violet-rgba :rgba(139,41,128,.2);
$color-dark:#3a3e3d;
$color-yellow:#fcaf17;
$background-slider :#fff;


