@import "../mixins";
@import "../variable";
.connection{
  width: 100%;
  z-index: 12;
  background: url("../img/Digital.png") no-repeat center center;

  background-size: cover;
  padding: 100px 0 50px;
  position: relative;
  overflow: hidden;
  border: 0;
  margin: 0;

  &:after {
    content: "";
    display: block;
    position: absolute;
    @include radius(50% 50% 47% 53% / 3% 3% 97% 97%  );
    background-color: $background-slider;
    height: 25px;
    width: 110%;
    top: -3px;
    z-index: 1050;
    right: -5%;

    @include media-min($S) {
      height: 33px;
    }
    @include media-min($L) {
      height: 65px;
    }
    @include media-min($X) {
      height: 115px;
    }
  }
  .cover{
    position: relative;
    .overlay{
      .box-col{
        @include flex(column,nowrap,center,center);

      .head{
        .title {
          text-align: center;
          font-family: Shabnam;
          margin: 50px 0;
          @include font-source-sans($big-font, #fff, 500, 2.1);
          position: relative;
          &:after {
            content: '';
            width: 100px;
            height: 2px;
            @include gradient(horizontal, transparent, #fcaf17);
            position: absolute;
            bottom: 0px;
            right: calc(50% - 42px);
          }
        }
      }
      }

      .form-group-inline{
        @include media-min($M){
          @include flex(row,nowrap,center,space-between);
        }
        .form-group{
          @include transition;
          min-width: 250px;
          @include media-min($M){
            flex-basis: 700px;
            min-width: 200px;
          }
          @include media-min($L){
            min-width: 250px;
          }
          .form-control{
            background-color: transparent;
            @include transition;
            border: 1px solid transparent;
            border-bottom: 1px solid #fff;

            border-radius: 0;
            color: #fff;

            &:focus{
              @include transition;
              color: #fff;
              background-color: transparent;
              border-color: transparent;
              border-bottom: 1px solid #fff;
              outline: 0;
              box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
            }
            &:hover{
              @include transition;
              border: 1px solid #fff;
            }
          }
        }
      }
      .form-group{
        .form-control{
          background-color: transparent;
          @include transition;
          border: 1px solid transparent;
          border-bottom: 1px solid #fff;
          border-radius: 0;
          color: #fff;
          @include placeholder;
@include font-source-sans(.9rem,#fff,400,1.5rem);
          &:focus{
            @include transition;
            @include transition;
            color: #fff;
            background-color: transparent;
            border-color: transparent;
            outline: 0;
            box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
            border-bottom: 1px solid #fff;
          }
          &:hover{
            @include transition;
            border: 1px solid #fff;
          }
        }
        .invalid{
    text-align: right;
          @include font-source-sans(.75rem, red, 400, .75rem);
          opacity: 0;
        }
      }
      .btn{
        text-align: center;
        background-color:$color-yellow;

        color: #fff;

        font-size: .9rem;
        padding: 10px 30px;
        display:flex;
        border-radius: 20px;
        margin: 10px auto;
        &:focus{
          outline: 0;
          box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
          border-bottom: 0px solid #fff;
        }
      }
    }
  }
  .filter{
    width: 100%;
    height: 100%;
    position: absolute;
    @include gradient(horizontal, transparent, #922385);
    top:0;
    right: 0;
    z-index: -1;
  }
}


