@import "../mixins";
@import "../variable";

.footer{
  color: #fff;
width: 100%;
  background-color: $color-dark;
  position: relative;
  text-align: right;
  @include flex(column,nowrap,center,flex-start);
   /* &:after{
      content: "";
      display: block;
      position: absolute;
      background: url(../img/curve1.svg) no-repeat center center;
      background-size: cover;
      height: 45px;
      width:100%;

      top:-2px;
      right: 0;
      z-index: 1040;
      @include transform(180deg);

      @include media-min($S){
        height: 80px;
      }
      @include media-min($L){
        height: 150px;
      }
    }*/
.info{
  margin: 30px 0;

}
  .btn-to-top{
    margin: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    @include transform(90deg);
    @include flex(row,nowrap,center,center);
    z-index: 1050;
    img{
      max-width: 40px;

    }

  }

}




