@import "../mixins";
@import "../variable";
.inner {
  position: absolute;
  color: #fff;
  z-index: 1020;
  width: 100%;
  text-align: center;
  padding: 5px;
  height: auto;
  font-family:IRANSans,Shabnam;
  @include flex(column,nowrap,center,center);
  @include media-min($M){
    padding: 20px;
    width: 70%;
    height: 50%;
  /*  background-color: rgba(255,255,255,.2);*/

  }
@include media-min($X){
  width: 50%;
  height: 30%;
  padding: 30px;
/*  background-color: rgba(255,255,255,.2);*/

}
.box-text{
  position:relative ;

  .title{
    font-family: Shabnam,IRANSans;
    padding: 0;
    margin: 0;
    @include font-source-sans(3rem, #fff, 600, 3.1rem);

@include animation(1s,1s);
    @include media-max($M){
      @include font-source-sans(2.2rem, #fff, 500, 3rem);
    }
  }

  .cd-intro{
    @include animation(1.85s,.90s);
  }
  .caption{

    margin-top:10px;
    @include font-source-sans($small-font, #ffffffd9, 400,  1.5rem);
    @include animation(3s,.75s);

    @include media-max($M){

      @include font-source-sans(.8rem, #fff, 300, 1rem);
    }
  }
  &:after{
    content: '';
    width: 150px;
    height: 3px;

  @include gradient(horizontal,transparent,#fcaf17);
    position: absolute;
    bottom:-40px;
    right:calc(50% - 75px);
    opacity: 0;
    @include animation(3.80s,.5s);

@include keyframe;
  }
}
}
