@import "../mixins";
@import "../variable";
.inner {
  color: #fff;
  z-index: 1020;
  width: 100%;
  text-align: center;
  padding: 5px;
  height: auto;
  height: 100%;
  font-family:IRANSans,Shabnam;
  overflow: hidden;
  @include flex(column,nowrap,center,center);

  .image-header{
    background-color: transparent;
    img{
      width: 100%;
      height: auto;
      @include media-max($M){
        padding: 0% 15%;



      }
    }
  }
.box-text{
  position:relative ;

  .title{
    font-family: Shabnam,IRANSans;
    padding: 0;
    margin: 0;
    @include font-source-sans(2.2rem, $color-dark, 600, 2.1rem);

@include animation(.5s,1.5s);

    @include media-max($M){
      @include font-source-sans(1.6rem, $color-dark, 600, 2rem);
      margin-top: 20px;
    }
  }
  .cd-intro{
font-family: aviny;
    @include animation(.75s,1.5s);
    margin: 8% 0;
  }
  .caption{
    margin-top:10px;
    @include font-source-sans($small-font,$color-dark, 400,  1.5rem);
    @include animation(1s,1.5s);
    @include media-max($M){
      @include font-source-sans(.88rem, $color-dark, 300, 1.5rem);
    }
  }
  &:after{
    content: '';
    width: 150px;
    height: 3px;
  @include gradient(horizontal,transparent,#fcaf17);
    position: absolute;
    bottom:-40px;
    right:calc(50% - 75px);
    opacity: 0;
    @include animation(1s,.75s);
@include keyframe;
  }
}
}
