@import "../mixins";
@import "../variable";
.header{
width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../img/header.jpg");
  background-size: cover;

  position: relative;
  @include flex(row,nowrap,center,center);
  &:before{
    content: '';
    width:50%;
    height:150px;
    background-color: #fff;
    border:1px solid #965c8a;
    border-width:0 0 10px 0;
    -webkit-border-radius:0% 0% 135% 0% / 0% 0% 65% 0%;
    -moz-border-radius:0% 0% 135% 0% / 0% 0% 65% 0%;
    border-radius:0% 0% 135% 0% / 0% 0% 65% 0%;
    position: absolute;
    left: 0;
    bottom: -30px;
    @include transform(180deg);
transform: rotateX(180deg);
z-index: 10;
  }
  &:after{
    content: '';
    width:50%;
    height:150px;
    background-color: #fff;
    border:1px solid #965c8a;
    border-width:0 0 13px 0;
    -webkit-border-radius:0% 0% 135% 0% / 0% 0% 65% 0%;
    -moz-border-radius:0% 0% 135% 0% / 0% 0% 65% 0%;
    border-radius:0% 0% 135% 0% / 0% 0% 65% 0%;
    position: absolute;
    right: 0;
    bottom: -30px;
    @include transform(180deg)
  }

  .over{
    width: 100%;
    height: 100%;
    background: rgba(139,41,128,.58);
    position: absolute;
  }
  .navigation{
    text-align: right;
    background-color: #fff;
    top:0;
    right:0;
    width: 100%;
    z-index: 1030;
font-size: $small-font;
    position: fixed;
    @include transition;
    .navbar{
      @include transition;
    @include media-min($L){
@include flex(row-reverse,nowrap,center,space-between);
      padding: 5px 125px;
    }
      .navigate{
        width: 100%;
        @include flex(row,nowrap,center,space-between);
        @include media-min($L){
          width: auto;
        }
        .bars{
          &:focus{
            outline: 0;
          }
          .hamburger{
            width: 30px;
            height: 20px;
            cursor: pointer;
            margin-top: 15px;
            position: relative;
            &:before{
              font-family: Tahoma;
              content: "MENU";
              letter-spacing: 2px;
              font-size: 8px;
              position: absolute;
              right: 0px;
              top: -12px;
              color: #18232f;
              -moz-transition: all 0.3s;
              -o-transition: all 0.3s;
              -webkit-transition: all 0.3s;
              transition: all 0.3s;
            }
            span{
              display: block;
              position: absolute;
              height: 2.22px;
              width: 100%;
              background: #18232f none repeat scroll 0% 0%;

              opacity: 1;
              right: 0;
              transition: all 0.25s ease-in-out 0s;
              &:nth-child(1){
                margin-top: 0px;
              }
              &:nth-child(2){
                margin-top: 7px;
              }
              &:nth-child(3){
                margin-top: 14px;
              }
            }
          }
          .opened{
            &:before{
              right: 20px;
              top: 5px;
              @include transition;
              @include transform(-90deg);
            }
              span{
                &:nth-child(1){
                  margin-top: 8px;
                  @include transform(135deg);
                }
                &:nth-child(2){
                  @include opacity(0);
                  right: -45px;
                  background: #18232f !important;

                }
                &:nth-child(3){
                  @include transform(-135deg);
                  margin-top: 8px;
                }
              }
          }
        }
        .navbar-brand{
          img{
            max-width: 50px;
            width: 100%;
            height: auto;
            @include transition;
            @include media-min($L){
              max-width: 60px;
            }
          }
        }
      }
    }

.navbar-collapse{
  width: 100%;
  padding: 2px 15px;
  .navbar-nav{
    .nav-item{
      @include media-max($L){
        font-size: .9rem;
        font-weight: 500;
        border-bottom: 1px solid $color-violet-rgba;
        &:last-child{
          border-bottom: 0px solid $color-violet;
        }
      }
      .nav-link{
        color: #000;
        @include transition;
      }
      .active{
        @include transition;
        color: $color-violet;
      }
    }
  }
}
}
  .style-navigation{
    @include transition;
    background-color: #fff;
    @include media-min($L){

    .navbar{
      @include transition;
      padding-top:0;
      padding-bottom: 0;
      .navigate{
        .navbar-brand{
          img{
            @include transition;
            max-width:40px;
          }
        }
      }
    }
  }
  }
}
.next-padding{
  width: 100%;
  padding-top: 30px;
  background-color: green;
}