@import "../mixins";
@import "../variable";
.pack{
  text-align:center;
  position: absolute;
  @include media-max($M){
    position: static;
  }
  z-index: 9;
width: 100%;

  top:30%;

  .row{

    .box-col{
      @include flex(column,nowrap,center,center);
      &:nth-child(1){
        @include animation(1s,1s);
      }
      &:nth-child(2){
        @include animation(1.40s,1s);
      }
      &:nth-child(3){
        @include animation(1.80s,1s);
      }

      .text{
        @include animation(1.5s,.75s);
        @include radius(10px);
        @include box-shadow(0px 0px 3px 2px #e8e8e854);
min-height: 350px;
        background-color: #fff;
        padding: 20px;
        @include media-max($M){
          margin-top: 25px;
          margin-bottom: 25px;

        }
        .image{
          width: 70px;
          height: 70px;
          background-color: $color-yellow;
          margin: 10px auto;
          @include radius(50%);
          padding: 10px;
          @include flex(row,nowrap,center,center);
          @include transition;
          img{

            max-width: 40px;

            width: 100%;
            height: auto;

          }
        }

        .title{
          margin-top: 20px;
          font-family: Shabnam;

          margin-bottom: 10px;
          @include font-source-sans(1.1rem,#631f5b,600,1.5rem);
          position: relative;
        }
        .caption{
          @include font-source-sans(.9rem,#3a3e3d,400,1.7);
text-align: justify;


        }
        .btn-card{
          background-color: transparent;
          color: $color-violet;
          padding: 3px 20px;
          @include transition;
          @include radius(20px);
          border:1px solid $color-violet;
          transition: opacity .1s;

          &:after{
            content: '\f104';
            font-family: FontAwesome;
            -webkit-transition: all ease-in-out 0.2s;
            transition: all ease-in-out 0.2s;
            margin-right: 0;
            opacity: 0;
          }
          &:focus{
              outline: 0px dotted;
              outline: 0px auto -webkit-focus-ring-color;
          }
          &:hover{
            background-color: $color-violet;
            color: #fff;
          }
          &:hover:after{
            margin-right:10px;
           opacity: 1;
          }

        }
      }
    }
    .box-col.style-pack{
      .text{
        .image{
          @include animation(0s,.5s);

        @include keyframe-rotate;
        }
      }
    }
  }
}
.pack.not-modal{
.text{
  .caption{
    height: 80px;
    overflow: hidden;
    text-overflow: clip;
  }
}
}