@import "../mixins";
@import "../variable";

.slider {
  width: 100%;

  background-color: $background-slider;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 50px 0 0;

  .container {
    .head {
      .title {
        font-family: Shabnam;

        margin: 50px 0 15px;
        @include font-source-sans($big-font, #631f5b, 600, 2.1);

        position: relative;

        &:after {

          content: '';
          width: 100px;

          height: 2px;
          @include gradient(horizontal, transparent, #fcaf17);
          position: absolute;
          bottom: 0px;
          right: calc(50% - 42px);

        }
      }
    }

    .carousel {
      height: 240px;

      .carousel-indicators {
        left: 40px;
        bottom: 0px;

        li {
          background-color: #c1c1c1;
          border-radius: 50%;
          @include transition;
        }

        .active {
          background-color: $color-yellow;
          @include transition;
        }

      }

      .carousel-inner {
        padding: 5px;

        .carousel-item {
          color: #444;
@include radius(10px);

          .row {
            .box-col {
              margin:25px;
              padding:5px 5px 5px 55px;
              @include flex(column,wrap, center,center);
              height: 100%;
              width: 90%;
@include media-min($M){
  margin: 40px 25px 25px;
  padding: 0 0 10px 50px;



}

              @include radius(10px);
              .question {
                font-family: Shabnam;
                margin-bottom: 10px;
                @include font-source-sans(1.1rem, #631f5b, 600, 1.5rem);
              }

              .answer {
                @include font-source-sans(1rem, #3a3e3d, 400, 1.7rem);
              }
            }
          }

        }
      }

      .carousel-control-prev {
        left: -150px;
        bottom: 0%;
        @include media-min($S) {
          left: -57px;
        }
        @include media-min($M) {
          left: -85px;
        }
        .carousel-control-prev-icon {
          background-image: url("../img/left.svg");

          width: 30px;
          height: 30px;
        }
      }
      .carousel-control-next {
        bottom: 0%;
        right: -150px;
        @include media-min($S) {
          right: -57px;
        }
        @include media-min($M) {
          right: -85px;
        }

        .carousel-control-next-icon {
          background-image: url("../img/left.svg");
          @include transform(180deg);


          width: 30px;
          height: 30px;

        }
      }


    }
  }
}